img {
margin: 10px;


		}

isbs {
float: center;
		}
table, td{
	border: 1px solid black;
}


body {
	Background-color : lightblue ;
	
}


h1 {
	font-family: verdana ;
	
}

th.letter {
		font-family: verdana ;

	
}
img.isbs {
	width: 200px
	
}